body {
    cursor: url('cursor.cur'), auto;
    background-color: black;
    color: #ffffffa0;
    margin: 0;;
    height: 100vh;
    display: flex;
    font-family: 'JetBrains Mono', monospace;
    font-size: 0.7rem;
    overflow-x: hidden;
    box-sizing: border-box;
    width: auto;
    flex-direction: column;  
    justify-content: flex-start; 
    align-items: center;
    gap: 20px;
    max-width: 100%;
}

pre{
    color: #a600ff;
    margin-right: 70px;
    margin-top: 220px;
    margin-bottom: -15px;
    font-size: 0.65rem;
}

.box {
    border: 0.1px solid #b300ff50;
    padding-left: 3px;
    display: inline-block;
    text-align: left;
    height: auto;
    width: 180px;
}

.box:hover {
    border: 0.1px solid #a600ff;
}

.box:hover legend {
    color: #a600ff;
}

span{
    margin: 0;
    padding: 5px;
    display: inline-block;
    }

a{
    color: #ffffffa0;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: #a600ff;
}


.tui{
    color: #ffffff5b
}

a.gb{
    text-decoration: none;
    border-bottom: dotted 1px;
    
}

a.gb:hover{
    text-decoration: none;
}

p{
    margin-top: -20px;
}
